.tools__item-add {

    .popover {
        padding: 0;
        min-width: 500px;
        font-size: 12px;

    }

    .popover label {
        font-size: 12px;
    }

    .checkbox label {
        padding-left: 0;
    }

    .popover-content,
    .add-form {
        padding: 0;
        margin: 0;
    }

    .add-form {
        display: table; // can't flex, cos left column dont return to short if align-items stretch :(
        width: 100%;
    }

    .add-form-inner {
        display: table-row;
    }

    .column-selector {
        vertical-align: top;
        border-right: 1px solid #dae0e6;
        padding: 10px 0;
        background: #f8f9fa;
        width: 25%;
        display: table-cell;
        // flex-grow: 0;
        // flex-shrink: 0;
        // font-size: 12px;
    }


    .column-forms {
        padding: 15px 0;
        display: table-cell;
        width: 75%;
    }

    .active > a,
    .active > a:hover {
        color: #0e2e33;
        border-radius: 0;
        background: #d9e0e6;
    }

    .nav-pills > .active > a {
        background: $select-color;
    }


    @each $type in $types {
        .#{$type} {
            border-left: 5px solid entity-color($type);
        }
    }


    .form-control {
        padding: 0 8px;
        height: 27px;
        font-size: 12px;
    }

    .form-control[multiple] {
        height: auto;
    }

    fieldset {
        padding: 0 15px;
    }

    .fieldset-customfields {
        padding-top: 5px;
        margin-bottom: 10px;
        border: 0 solid #d3d3d3;
        border-width: 1px 0;
        background: #f8f8f8;
    }

    .validate :invalid {
        border-color: #f66;
        color: #f66;
    }
}
