.tools__item-add {

    .popover {
        padding: 0;
        min-width: 500px;
        font-size: 12px;
    }

    .popover label {
        font-size: 12px;
    }

    .checkbox label {
        padding-left: 0;
    }

    .popover-content,
    .row {
        padding: 0;
        margin: 0;
    }

    .row {
        display: flex;
    }

    .column-selector {
        vertical-align: top;
        border-right: 1px solid #dae0e6;
        padding: 10px 0;
        background: #f8f9fa;
        // font-size: 12px;
    }

    .active > a,
    .active > a:hover {
        color: #0e2e33;
        border-radius: 0;
        background: #d9e0e6;
    }

    .nav-pills > .active > a {
        background: $select-color;
    }


    @each $type in $types {
        .#{$type} {
            border-left: 5px solid entity-color($type);
        }
    }

    .column-forms {
        padding: 15px;
    }

    .form-control {
        padding: 0 8px;
        height: 27px;
        font-size: 12px;
    }

    .form-control[multiple] {
        height: auto;
    }

}
