.tools__item-add {

    $selector-color: #f8f9fa;

    .popover {
        padding: 0;
        min-width: 500px;
        font-size: 12px;

        label {
            font-size: 12px;
        }

        .arrow:after {
            border-right-color: $selector-color;
        }
    }

    .checkbox label {
        padding-left: 0;
    }

    .popover-content,
    .add-form {
        padding: 0;
        margin: 0;
    }

    .add-form {
        display: table; // can't flex, cos left column dont return to short if align-items stretch :(
        width: 100%;
        min-height: 250px;
    }

    .add-form-inner {
        display: table-row;
    }

    .column-selector {
        vertical-align: top;
        border-right: 1px solid #dae0e6;
        padding: 2px 0;
        background: $selector-color;
        width: 25%;
        display: table-cell;

        a {
            padding: 12px 18px;
        }

        a:before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            border: 1px solid #fff;
            border-radius: 50%;
            margin-right: 7px;
            vertical-align: text-top;
            position: relative;
            top: 1px;
        }

        @each $type in $types {
            .#{$type} a:before {
                background: entity-color($type);
            }
        }

    }


    .column-forms {
        padding: 15px 0;
        display: table-cell;
        width: 75%;
    }

    .active > a,
    .active > a:hover {
        color: #0e2e33;
        border-radius: 0;
        background: #d9e0e6;
    }

    .nav-pills > .active > a {
        background: $select-color;
    }

    .form-control {
        padding: 0 8px;
        height: 27px;
        font-size: 12px;
    }

    .form-control[multiple] {
        height: auto;
    }

    fieldset {
        padding: 0 15px;
    }

    .fieldset-customfields {
        padding-top: 5px;
        margin-bottom: 10px;
        border: 0 solid #d3d3d3;
        border-width: 1px 0;
        background: #f8f8f8;
    }

    .validate :invalid {
        border-color: #f66;
        color: #f66;
    }

    .form__card {
        border: 1px solid #e8e8e8;
        border-radius: 10px;
        padding: 12px;
        margin-bottom: 10px;
    }
}
