.card {
    // border: 1px solid #e8e8e8;
    // border-radius: 10px;
    // padding: 12px;
    display: flex;
    color: #000;
    line-height: 1.5;
    min-height: 50px;
}

.card__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

.card__name {
    font-weight: bold;
}

.card__description {
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
}

.card__attachments {
    position: relative;
    flex-basis: 50px;
    flex-grow: 1;
    max-width: 50px;
}

.card__attachment {

    position: absolute;

    img {
        background: rgba(232, 232, 232, 0.5);
        border: 1px solid #e8e8e8;
        padding: 0;
        width: 50px;
        height: 50px;
    }
}
