$grey-color: $text-color;
$black-color: #0e2e33;

.popover {

    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.20);
    border-radius: 0;
    max-width: none;
    margin: 0;
    top: auto;
    left: auto;
    max-height: calc(100vh - 6px);
    color: $text-color;
    display: flex;
    border: 0;

    &.right {
        margin-left: 3px;
    }



    & li > a {
        color: $black-color;
    }


    .popover-content {
        flex-grow: 1;
        padding: 0;
        overflow: auto;
    }

    label {
        font-size: 14px;
        line-height: 17px;
    }

    .form-control {
        border-radius: 3px;
        border: 1px solid $grey-color;
        padding: 7px 8px;
        font-size: 12px;
        line-height: 15px;
    }

    .form-control::placeholder {
        color: #d1d3d6;
    }

    .form-color {

        label {
            display: block;
            cursor: pointer;
        }

        label:hover {
            opacity: 0.5;
        }

        input {
            display: none;
        }
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-add {
        .form-group:first-of-type {
            margin-bottom: 14px;
        }
    }

    textarea.form-control {
        height: auto;
        padding: 8px;
    }

    .form-settings {

        font-size: 12px;
        padding: 12px 14px;

        .help-block {

            a,
            a:hover {
                font-size: 0.9em;
                text-decoration-line: underline;
                text-decoration-color: darken($link-color, 0.1);
                text-decoration-style: dashed;
                text-underline-position: under;
            }
        }

        img {
            width: 100px;
            height: 100px;
        }

        .domain-control {
            display: flex;

            input {
                flex-grow: 1;
            }

            span {
                flex-grow: 0;
                flex-shrink: 0;
                vertical-align: middle;
                padding: 7px 2px;
                font-size: 12px;
                line-height: 15px;
                color: $grey-color;
            }
        }

        .domain-control__ondemand {
            cursor: pointer;
            text-decoration-line: underline;
            text-decoration-style: dashed;
            text-underline-position: under;
        }
    }

    .media {
        padding: 0;
        margin-bottom: 10px;
    }

    .alert,
    .card {
        margin-bottom: 10px;
    }
}
