$grey-color: $text-color;
$black-color: #0e2e33;

.popover {

    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.20);
    border-radius: 0;
    max-width: none;
    margin: 0;
    top: auto;
    left: auto;
    max-height: calc(100vh - 6px);
    color: $text-color;
    // overflow: hidden;

    & li > a {
        color: $black-color;
    }


    .popover-content {
        padding: 0;
        // max-height: calc(100vh - 6px);
        // overflow-y: scroll;
    }

    label {
        font-size: 14px;
        line-height: 17px;
    }

    .form-control {
        border-radius: 3px;
        border: 1px solid $grey-color;
        padding: 7px 8px;
        font-size: 12px;
        line-height: 15px;
    }

    .form-control::placeholder {
        color: #d1d3d6;
    }

    // .btn-success {
    //     border: 0;
    //     border-radius: 5px;
    //     background: #95d54e;
    //     font-size: 14px;
    //     line-height: 17px;
    //     height: 36px;
    // }

    .form-color {
        label {
            display: block;
            cursor: pointer;
        }
        label:hover {
            opacity: 0.5;
        }
        input {
            display: none;
        }
    }

    // .fancy-select {
    //     font-weight: normal;
    //     text-transform: none;
    //     .options, .trigger, .trigger.open {
    //         width: 100%;
    //         border-radius: 3px;
    //         background: #ffffff;
    //         border: 1px solid $grey-color;
    //         padding: 7px 8px;
    //         font-size: 12px;
    //         line-height: 15px;
    //         box-shadow: none !important;

    //         &:after {
    //             top: 12px;
    //         }
    //     }

    //     .options.open {
    //         top: 35px;
    //     }

    //     .options {
    //         li,
    //         li.selected {
    //             color: $grey-color;
    //         }

    //         li.selected {
    //             background: $grey-color;
    //             color: #ffffff;
    //         }

    //         .hover {
    //             background-color: $grey-color;
    //             color: #000000;
    //         }
    //     }

    //     // .trigger:after {
    //     //     @extend .glyphicon;
    //     //     content: "\e114";
    //     //     border: none;
    //     //     position: absolute;
    //     //     right: 20px;
    //     //     top: 10px;
    //     //     font-size: 10px;
    //     //     color: $grey-color;
    //     //     font-weight: normal;
    //     // }
    // }

    .form-group {
        margin-bottom: 10px;
    }

    .form-add {
        .form-group:first-of-type {
            margin-bottom: 14px;
        }
    }

    .form-settings {

        font-size: 12px;
        padding: 12px 14px;

        img {
            width: 100px;
            height: 100px;
        }

        .domain-control {
            display: flex;

            input {
                flex-grow: 1;
            }

            span {
                flex-grow: 0;
                flex-shrink: 0;
                vertical-align: middle;
                padding: 7px 2px;
                font-size: 12px;
                line-height: 15px;
                color: $grey-color;
            }
        }
    }

    .media {
        padding: 0;
        margin-bottom: 10px;
    }

    .alert {
        margin-bottom: 10px;
    }

}
