.tools {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tools__panel {
    display: flex;
    flex-direction: column;

    list-style: none;
    padding: 0;
    margin: 0;

    flex-grow: 0;
    flex-shrink: 0;
}

.tools__separator {
    flex-grow: 1;
}

.tools__item {
    height: 44px;
    overflow: visible;
    display: flex;
    flex-shrink: 0;

    &.tools__item-add {
        height: 52px;

        > .tools__trigger {
            height: 52px;
            padding: 3px 0 5px;
        }
    }

    .tools__trigger {
        user-select: none;
        overflow: hidden;
        display: block;
        line-height: 0;
        width: 64px;
        height: 44px;
        padding: 0;
        margin: 0;
        border: 0;
        background: transparent;
        color: transparent;
        cursor: pointer;

        &:hover,
        &:focus,
        &.focus {
            outline: 0;
            background-color: #4a4a4a;
        }

        &[disabled] {
            opacity: 0.1;
        }
    }

    &.selected {
        .tools__trigger {
            background: $select-color;
        }
    }


    .icon {
        display: block;
        margin: auto;
    }


}

.tools__item-add {
    margin-bottom: 16px;

    .popover {
        min-width: 420px;
    }
}

.tools__item-color {


    .tools__trigger {
        // padding: 10px auto;
        // background: none;
        // text-align: center;

        &::-webkit-color-swatch-wrapper {
            margin: 10px auto;
            height: 24px;
            width: 32px;

            padding: 0;
            border: none;
        }

        &::-webkit-color-swatch {
            // margin: 0;

            padding: 0;
            border-radius: 14px;
            border: 1px solid #ffffff;
            box-shadow: inset 0px 0px 2px 0px #2d3138;
        }

    }


    .icon-color_orange {
        background: #f9a530;
    }

    .icon-color_black {
        background: #4a4a4a;
    }

    .icon-color_blue {
        background: #3e94e0;
    }

    .icon-color_red {
        background: #d52220;
    }

    .icon-color_green {
        background: #7ccd2f;
    }

    .icon-color_white {
        background: #ffffff;

    }

    .popover {
        padding: 0;

        .icon-color {
            box-shadow: none;
        }
        .icon-color_white {
            border-color: #ececec;
        }

        .popover-content {
            padding: 3px 17px 7px;
        }
    }
}

.tools__item-settings {
    .popover {
        width: 320px;
    }

}
