

@import 'bootstrap';

@import 'const';
@import 'tools';
@import 'popover';
@import 'add-popover';
@import 'figures';



body {
    font-family: 'Lucida Grande', Arial, sans-serif;
    overflow: hidden; // to prevent scroll on MacOS
    -webkit-font-smoothing: antialiased;
}

.editor {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.editor__tools {
    display: flex;
    background: #2C2C2C;
    flex-grow: 0;
    flex-shrink: 0;
    width: 64px;
    overflow-y: auto;
}

.editor__area {
    background: #F7F7F5;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}


