doctype html
html(xmlns='http://www.w3.org/1999/html')
    head
        meta(charset='UTF-8')
        title Targetprocess Screen Capture
        - if (env === 'dev')
            script(src="//localhost:35729/livereload.js")

        // build:css build/style.css 
        // inject:css 
        // endinject 
        link(rel='stylesheet', href='css/icons.css')
        link(rel='stylesheet', href='css/style.css')
        // endbuild 
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    body
        .main
        // build:js build/scripts.js 
        // inject:js 
        // endinject 
        // endbuild 

        - if (env === 'dev')
            script(type='text/javascript', src="vendor/requirejs/require.js")
            script(type='text/javascript', src="scripts/main.js")
        - if (env === 'prod')
            script(type='text/javascript', src="scripts/main.js")


