doctype html
html(xmlns='http://www.w3.org/1999/html')
    head
        meta(charset='UTF-8')
        title Screenshot editor
        //- - if (env === 'dev')
        script(src="http://localhost:35729/livereload.js")

        // build:css release/style.css 

        // inject:css 
        // endinject 
        link(rel='stylesheet', href='css/icons.css')
        link(rel='stylesheet', href='css/style.css')
        // endbuild 
    body

        .editor
            nav.editor__tools(role="navigation")
                div.tools

                    ul(class="tools__panel")
                        - var v = 'add'
                        li(class="tools__item tools__item-" + v + " i-role-tool-" + v)
                            button.tools__trigger(type="button")
                                i(class="icon icon-svg-" + v)

                            .popover.right
                                .arrow
                                .popover-content
                                    form.form-add(action="#")
                                        .form-group
                                            input.form-control(type="text", placeholder="Name")
                                        .form-group
                                            textarea.form-control(placeholder="Description", rows="7")
                                        .form-group
                                            select.form-control
                                                option Select me
                                                option Not, me
                                                option I am the best option
                                                option Don't trust them, they are lying

                                        .form-group
                                            select.form-control
                                                option Select me
                                                option Not, me
                                                option I am the best option
                                                option Don't trust them, they are lying
                                        .form-group
                                            select.form-control
                                                option Select me
                                                option Not, me
                                                option I am the best option
                                                option Don't trust them, they are lying
                                        .form-group
                                            select.form-control
                                                option Select me
                                                option Not, me
                                                option I am the best option
                                                option Don't trust them, they are lying

                                        button.btn.btn-success.bnt-lg.btn-block(type="submit") Add Issue

                        - for v in ['cursor', 'pencil', 'arrow', 'line', 'square', 'circle', 'text', 'crop']
                            li(class="tools__item tools__item-" + v + " i-role-tool-" + v)
                                button.tools__trigger(type="button")
                                    i(class="icon icon-svg-" + v)

                        - var v = 'color'
                        li(class="tools__item tools__item-" + v + " i-role-tool-" + v)
                            button.tools__trigger(type="button")
                                i(class="icon icon-svg-" + v + " icon-svg-color_orange")
                            .popover.right
                                .arrow
                                .popover-content
                                    form.form-color(action="#")
                                        - for v in ['orange', 'black', 'blue', 'red', 'green', 'white']
                                            label
                                                i(class="icon icon-svg-color icon-svg-color_" + v)
                                                input(type="radio", name="color", value=v)

                    .tools__separator
                    ul(class="tools__panel")
                        - var v = 'settings'
                        li(class="tools__item tools__item-" + v + " i-role-tool-" + v)
                            button.tools__trigger(type="button")
                                i(class="icon icon-svg-" + v)
                                //- | #{v}


                            .popover.right
                                .arrow
                                form.form-settings(action="#")
                                    .popover-content
                                        .checkbox
                                            label
                                                input(type="checkbox") 
                                                | Pin panel

                                    .popover-content
                                        .form-group
                                            label Targetprocess Account
                                            .domain-control
                                                input.form-control(type="text", placeholder="account")
                                                span .tpondemand.com

                                        button.btn.btn-success.bnt-lg.btn-block(type="submit") Login
                


            .editor__area

                img(src="img/screen.png")

                .figure.figure-rectangle(data-color="orange",style="top: 200px; left: 600px; height: 100px; width: 200px;")
                .figure.figure-comment(style="top: 310px; left: 600px;")
                    .figure-comment__text Maybe links?
                    .figure-comment__signature by Alex Tsayun
                

        // build:js release/scripts.js 
        // inject:js 
        // endinject 
        // endbuild 
        script(type='text/javascript').
            $('.i-role-tool-add .tools__trigger').click(function(){
                var $trigger = $(this);
                //- debugger;
                var $popover = $trigger.next();
                
                $popover.css('top', $trigger[0].getBoundingClientRect().top + 5);
                $popover.css('left', $trigger[0].getBoundingClientRect().right - 7);
                $popover.find('.arrow').css('top', 22);
                $popover.toggle();

                $popover.find('select').fancySelect();
            });

            $('.i-role-tool-color .tools__trigger').click(function(){
                var $trigger = $(this);
                //- debugger;
                var $popover = $trigger.next();
                    
                $popover.css('top', $trigger[0].getBoundingClientRect().top - 37);
                $popover.css('left', $trigger[0].getBoundingClientRect().right - 7);
                $popover.find('.arrow').css('top', 59);
                $popover.toggle();
            });

            $('.i-role-tool-settings .tools__trigger').click(function(){
                var $trigger = $(this);
                //- debugger;
                var $popover = $trigger.next();
                //- debugger;
                //- $popover.css('top', 550);
                $popover.css('top', 'auto');
                $popover.css('bottom', 5);
                $popover.css('left', $trigger[0].getBoundingClientRect().right - 7);
                $popover.find('.arrow').css('top', 'auto');
                $popover.find('.arrow').css('bottom', '6px');
                $popover.toggle();
            });
