body.options {
    background: url("../img/allow-tp3-pattern.png") 0 0 repeat-x;
    /*background-color: linear-gradient(to top,#292b33,#363940 50%,#3b3e45 50%,#4c5059);*/
    background-color: #292b33;
    padding-top: 70px;
    color: #fff;
}

.options-container p {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 72px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.i-role-footer-state {
    display: none;
}